body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: aqua;
}
.images .choices .result{
    width: 100%;
    text-align: center;
}

picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid aqua;
    box-shadow: 10px 10px 10px aqua;
}

.result {
    text-align: center;
}